.cabecalho{
    background-color: var(--cor-linha);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 50px;
}
.nome-cabecalho{
    color: var(--cor-principal);
    margin: 0 1em;
    font-family: var(--fonte-principal);
    font-size: 24px;
}
.abas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 2em;
}
.text-cabecalho{
    color: var(--cor-secundaria);
    margin: 0 1em;
    font-family: var(--fonte-principal);
    font-size: 20px;
}
.linha-cabecalho{
    height: 20px;
}
.apoio{
    width: 90vw;
    height: 50px;
    background-color: var(--cor-fundo);
}
body{
    background: var(--cor-fundo);
}