.projetos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 2em 0 2em 0;
  width: 98%;
}

.imagem-projeto {
  width: 450px;
  border-radius: 20px;
}

.text-projetos {
  display: flex;
  align-items: end;
  margin: 1em 0 1em 0;
}

.titulo-projetos {
  color: var(--cor-principal);
  font-family: var(--fonte-principal);
  font-size: 32px;
}

.nome-projeto {
  margin: 0 0 0 0.5em;
  color: var(--cor-secundaria);
  font-family: var(--fonte-principal);
  font-size: 28px;
}

.categoria-projeto {
  color: var(--cor-secundaria);
  font-family: var(--fonte-principal);
  font-size: 18px;
  margin: 0 0.5em;
  padding: 8px 16px;
  background: var(--cor-linha);
  border-radius: 999px;
}

.area-categoria {
  display: flex;
}

.btn-projeto {
  background-color: var(--cor-fundo);
  border: 0px;
  cursor: pointer;
}
