{% extends 'cabecalho.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/index/activate.css' %}">
        <section class='pag-inicial'>
          <div class='objetos-inicial'>
            <img src="{% static '/imagens/pag-home/pag1/minha-foto.jpg' %}" class='foto-eu'></img>
            <h1 class='titulo-nome'>Guilherme Dutra</h1>
            <h3 class='categoria-nome'>Desenvolvedor Full-Stack</h3>
          </div>
        </section>

        <section class='pag-sobre'>
          <div class='objetos-sobre'>
            <img src="{% static '/imagens/pag-home/pag2/Dragon Slayer.png' %}" class='dragon-slayer'></img>
              <div class='conteudo-sobre'>
                <h2 class='titulo-sobre'>Sobre mim</h2>
                <p class='text-sobre'>Desenvolvedor Full-Stack com paixão por programação e motivado por desafios. Acredito que cada obstáculo é uma oportunidade de crescimento e aprendizado. Sinto grande satisfação em transformar ideias complexas em soluções funcionais e eficazes. Tenho facilidade para lidar com erros e imprevistos, sempre buscando aprimoramento contínuo. Sou entusiasta da aprendizagem constante e estou sempre explorando novas tecnologias e boas práticas. Minhas principais linguagens são Python e C#, mas também possuo experiência com JavaScript, Go, Java e Dart. Estou em busca da minha primeira oportunidade profissional na área de desenvolvimento, pronto para contribuir e evoluir junto com a equipe.</p>
              </div>
          </div>
          <img src="{% static '/imagens/pag-home/pag2/Line 1.svg' %}" class='linha-img'></img>
        </section>

        <section class='pag-skills'>
          <div class="skills-div">
            <div class='educacao'>
              <h3 class='titulo-educacao'>Estudos</h3>
              <img src="{% static '/imagens/pag-home/pag3/educacao.png' %}" class='img-educacao'></img>
              <ul class='conteudo-educacao'>
                <li class='text-educacao'>Faculdade de Engenharia de Software na Estácio - janeiro de 2025. (transferência)</li>
                <li class='text-educacao'>Curso da Alura - março de 2024.</li>
                <li class='text-educacao'>Curso de CyberSecurity da Google - março de 2025.</li>
              </ul>
            </div>

            <img src="{% static '/imagens/pag-home/pag3/katana.png' %}" class='katana-1'></img>

            <div class='tec'>
              <h3 class='titulo-tec'>Tecnologias</h3>
              <img src="{% static '/imagens/pag-home/pag3/omni.png' %}" class='img-tec'></img>
              <ul class='conteudo-tec'>
                <li class='text-tec'>Python</li>
                <li class='text-tec'>JavaScript</li>
                <li class='text-tec'>Dart</li>
                <li class='text-tec'>Golang</li>
                <li class='text-tec'>C#</li>
                <li class='text-tec'>Java</li>
                <li class='text-tec'>Windows forms</li>
                <li class='text-tec'>HTML</li>
                <li class='text-tec'>CSS</li>
                <li class='text-tec'>Django</li>
                <li class='text-tec'>Flask</li>
                <li class='text-tec'>React</li>
                <li class='text-tec'>Figma</li>
                <li class='text-tec'>Photoshop</li>
                <li class='text-tec'>Flutter</li>
                <li class='text-tec'>PostgreSQL</li>
                <li class='text-tec'>MySQL</li>
              </ul>
            </div>

            <img src="{% static '/imagens/pag-home/pag3/katana.png' %}" class='katana-2'></img>

            <div class='skills'>
              <h3 class='titulo-skills'>Habilidades</h3>
              <img src="{% static '/imagens/pag-home/pag3/skills.png' %}" class='img-skills'></img>
              <ul class='conteudo-skills'>
                <li class='text-skills'>Aprendizagem rápida</li>
                <li class='text-skills'>Flexível</li>
                <li class='text-skills'>Fácil adaptação</li>
                <li class='text-skills'>Resolução de problemas</li>
                <li class='text-skills'>Inglês Intermediário</li>
                <li class='text-skills'>Organização</li>
              </ul>    
            </div>
         </div>
          <img src="{% static '/imagens/pag-home/pag2/Line 1.svg' %}" class='linha-img2'></img>
        </section>

        <section class='pag-contatos'>
          <div class='pro-cert'>
            <div class="pro-cert-nlinha">
              <div class='projeto'>
                <h2 class='titulo-projeto'>Meus projetos:</h2>
                <a href="{% url 'portifolio' %}"><img src="{% static '/imagens/pag-home/pag4/portifolio.png' %}" class='img-projeto'></img></a>
              </div>

              <img src="{% static '/imagens/pag-home/pag4/adaga-thorfinn-1.png' %}" class='adaga-1'></img>
              
              <div class='certificado'>
                <h2 class='titulo-certificado'>Meus certicados:</h2>
                <a href="{% url 'certificado' %}"><img src="{% static '/imagens/pag-home/pag4/certificado.png' %}" class='img-certificado'></img></a>
              </div>
            </div>
              <img src="{% static '/imagens/pag-home/pag2/Line 1.svg' %}" class='linha-img3'></img>
          </div>

          <div class='contatos'>
            <div class='parte-contatos'>
              <h2 class='titulo-contatos'>Entre em contato:</h2>
              <div class='imgs-conts'>
                <a href='https://wa.me/5522988341441' target="_blank"><img src="{% static '/imagens/pag-home/pag4/zap.png' %}" class='img-contatos-1'></img></a>
                <a href='https://www.instagram.com/guilher.km/' target="_blank"><img src="{% static '/imagens/pag-home/pag4/insta.png' %}" class='img-contatos-2'></img></a>
                <a href='https://github.com/kakeiko?tab=repositories' target="_blank"><img src="{% static '/imagens/pag-home/pag4/github.png' %}" class='img-contatos-2'></img></a>
                <a href='https://www.linkedin.com/in/guilherme-dutra-55559625a/recent-activity/all/' target="_blank"><img src="{% static '/imagens/pag-home/pag4/linkedin.png' %}" class='img-contatos-2'></img></a>
            </div>
            </div>

            <div class='frase'>
              <img src="{% static '/imagens/pag-home/pag4/aspas.svg' %}" class='aspas-1'></img>
              <p class='text-frase'>Quando estiver a beira do desespero, apenas os que se levantarem com a espada em punho, mesmo que partida ao meio, se salvarão.</p>
              <img src="{% static '/imagens/pag-home/pag4/aspas.svg' %}" class='aspas-2'></img>
              <img src="{% static '/imagens/pag-home/pag4/skull-knight.svg' %}" class='skull'></img>
            </div>
          </div>
        </section>
        {% endblock %}